.message_row{
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-pref-width: Infinity;
}

.message_row:hover{
    -fx-background-color: rgba(225, 201, 67, 0.30);
}

.message_row_even{
    -fx-background-color: rgba(225, 201, 67, 0.20);
}

.message_row_odd{
    -fx-background-color: rgba(225, 201, 67, 0.10);
}

/******
* MAP *
*******/

.balcony_container{
    -fx-cursor: hand;
}

.balcony_container:hover, .selected_balcony_container{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 15, 0.6, 0, 1 );
}


.region_business_card{
    -fx-cursor: hand;
}

.region_business_card:hover, .selected_region_business_card{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 15, 0.7, 0, 1 );
}

.free_councillors_container, .free_councillors_container .viewport{
    -fx-background-color: transparent;
}

.free_councillor{
    -fx-cursor: hand;
    -fx-padding: 10px 10px 0 0;
}

.free_councillor:hover, .selected_free_councillor{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 15, 0.7, 0, 1 );
}

.region_arms{
    -fx-cursor: hand;
}

.region_arms:hover, .selected_region_arms{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 15, 0.7, 0, 1 );
}

/***************
* PLAYERS LIST *
****************/

.playersList_row{
    -fx-padding: 10px;
    -fx-pref-width: 100%;
}

.playersList_row:hover{
    -fx-background-color: rgba(225, 201, 67, 0.30);
}

.playersList_row_even{
    -fx-background-color: rgba(225, 201, 67, 0.20);
}

.playersList_row_odd{
    -fx-background-color: rgba(225, 201, 67, 0.10);
}

.playersList_row .hbox{
    -fx-padding: 15px 0 0 0;
}

.playersList_row .player_username{
    -fx-text-fill: #e1c943;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
}

.playersList_row .value_label{
    -fx-padding: 10px 0 0 5px;
    -fx-font-weight: bold;
    -fx-pref-width: 50px;
}

/********
* TOWNS *
*********/

.town_indicator{
    -fx-cursor: hand;
}

.town_indicator:hover, .selected_town_indicator{
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.emporiums_label{
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.45);
    -fx-padding: 3px 7px 3px 7px;
    -fx-text-fill: white;
    -fx-font-size: 11px;
}

/**********
* YOU TAB *
***********/

.spacer_label{
	-fx-background-color: #eee;
}

.player_politic_card, .player_business_card{
    -fx-cursor: hand;
}

.player_politic_card:hover, .player_politic_card_selected, .player_business_card:hover, .player_business_card_selected{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 10, 0.5, 0, 1 );
}

/*************
* MARKET TAB *
**************/

.market_offer_container{
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.market_offer_container_even{
    -fx-background-color: rgba(181, 228, 255, 0.6);
}

.market_offer_container_odd{
    -fx-background-color: rgba(181, 228, 255, 0.4);
}

.market_offer_container:hover{
    -fx-background-color: rgba(181, 228, 255, 0.8);
}

.market_offer_container .x_icon{
    -fx-padding: 15px 10px 0 10px;
}

.market_offer_container .quantity{
    -fx-font-weight: bold;
    -fx-font-size: 21px;
    -fx-padding: 10px 25px 0 0;
}

.market_offer_container .seller_username{
    -fx-text-fill: black;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10px 0;
}

/**********
* OVERLAY *
***********/

.overlay_courtain{
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.overlay_courtain .market_sell_popup{
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.overlay_courtain .leaderboard_popup, .overlay_courtain .leaderboard_popup .viewport{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.overlay_courtain .leaderboard_popup .player{
    -fx-text-fill: #e1c943;
    -fx-font-size: 28px;
}

.overlay_courtain .leaderboard_popup .points{
    -fx-text-fill: #e1c943;
    -fx-font-size: 31px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}